@( message: String )( users: Seq[User] )

@import models.User

@main( "User List" ) {

<h1>@message</h1>

<div style="margin-left:2" >
<style>
    li.item span { width: 100px, display: inline-block; }
</style>

    <span>
        <a href="/users/showCreate">New</a>
    </span>

<table border="1">
<tr>
    <th>Email</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Gender</th>
    <th>Facebook</th>
    <th>Twitter</th>
    <th>LinkedIn</th>
    <th>Wechat</th>
    <th>Created</th>
    <td>Updated</td>
    <th>Operation</th>
</tr>
@users.map { user =>
    <tr>
        <td><a href="/users/@user.id">@user.email</a></td>
        <td>@user.name</td>
        <td>@user.phone</td>
        <td>@user.gender</td>
        <td>@user.facebook</td>
        <td>@user.twitter</td>
        <td>@user.linkedIn</td>
        <td>@user.wechat</td>
        <td>@user.created</td>
        <td>@user.updated</td>
        <td>
            <a href="/users/@user.id/delete">Delete</a>
            <a href="/users/@user.id/showEdit">Edit</a>
        </td>
    </tr>
}
</table>

</div>
}
