@( message: String )( user: Form[UserData] )( implicit messages: Messages )

@import helper._

@main( "Create User" ) {
<h1>@message</h1>

<ul id="user"></ul>
    @form( routes.UserController.create() ) {

        @inputText( user("email")     )
        @inputText( user("password")  )
        @inputText( user("phone")     )
        @inputText( user("name")      )
        @inputText( user("gender")    )
        @inputText( user("facebook")  )
        @inputText( user("twitter")   )
        @inputText( user("linkedIn")  )
        @inputText( user("wechat")    )

        <div class="buttons">
            <input type="submit" value="Add Person"/>
        </div>
    }
}
