@( message: String )( user: User )

@import models.User

@main( "Show user" ) {
<h1>@message</h1>
<div>
    <style>
        li.item span { width: 100px, display: inline-block; }
    </style>
    <ul>
        <li class="item">@user.email</li>
        <li class="item">@user.name</li>
        <li class="item">@user.phone</li>
        <li class="item">@user.gender</li>
        <li class="item">@user.facebook</li>
        <li class="item">@user.twitter</li>
        <li class="item">@user.linkedIn</li>
        <li class="item">@user.wechat</li>
        <li class="item">@user.registered</li>
        <li class="item">@user.updated</li>
    </ul>
</div>
}
